/* Estilos para la lista de afiliados */
.afiliados-list {
    margin-top: 20px;
  }
  
  /* Estilos para cada elemento de la lista de afiliados */
  .afiliado-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    list-style: none;
  }
  
  /* Estilos para la información de cada afiliado */
  .afiliado-info {
    font-size: 16px;
  }
  
  /* Estilos para las propiedades de cada afiliado */
  .afiliado-property {
    font-weight: bold;
    margin-right: 5px;
  }
  